
@{
    ViewBag.Title = "Index";
}

<ul>
    <li><a href="/Home/Baidu">百度</a></li>
    <li><a href="/Home/Qihu">360</a></li>
    <li><a href="/Home/QQ">qq</a></li>
    <li><a href="/Home/Sina">新浪</a></li>
    <li><a href="/Home/WeChat">微信</a></li>
    <li><a href="/Home/WeCahtQR">微信扫码</a></li>
</ul>

