
@{
    ViewBag.Title = "Index";
}
<link href="~/MyTools/mytool.css" rel="stylesheet" />
<p class="store-gradient-multi" style="width:200px;">
    测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试
    测试测试测试测试测试测试测试测试
</p>
<a href="http://www.baidu.com" class="a-clean">测试测试</a>
