
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/DatePicker/foundation-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/DatePicker/foundation-datepicker.js"></script>
</head>
<body>
    <div>
        日期<input type="text" id="dp">
    </div>
    <div>
        时间<input type="text" id="dpt">
    </div>
    <div>
        <input type="text" id="dpd1">
        <input type="text" id="dpd2">
    </div>
    <script>
        $('#dp').fdatepicker({
            format: 'yyyy-mm-dd',
            weekStart: 0,//day of the week start. 0 for Sunday - 6 for Saturday
            viewMode: 0,//set the start view mode. Accepts: 'days', 'months', 'years', 0 for days, 1 for months and 2 for years
            minViewMode: 0,//set a limit for view mode. Accepts: 'days', 'months', 'years', 0 for days, 1 for months and 2 for years
        });
        $('#dpt').fdatepicker({
            format: 'mm-dd-yyyy hh:ii',
            //disableDblClickSelection: true,
            pickTime: true,
        });
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        var checkin = $('#dpd1').fdatepicker({
            format: 'yyyy-mm-dd',
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.update(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').fdatepicker({
            format: 'yyyy-mm-dd',
            onRender: function (date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            checkout.hide();
        }).data('datepicker');
    </script>
</body>
</html>
